<div class="container">
  <header class="pageHeader">
    <h3><i class="fa fa-list-ul" aria-hidden="true"></i> {{'pageHeader.PriceList' | translate}}</h3>
  </header>

  <div [@fadeInOut]>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">ลำดับ</th>
            <th scope="col">ประเภทรายการ</th>
            <th scope="col">หน่วยนับ/ครั้ง</th>
            <th scope="col">ราคา</th>
            <th scope="col">หมายเหตุ</th>
            <th scope="col">รหัสกรมบัญชีกลาง</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              <div class="custom-control custom-checkbox">

                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">1</label>
              </div>
            </td>
            <td>การฝังเข็ม</td>
            <td>1</td>
            <td>250.00</td>
            <td>ผู้มีสิทธิ์ชำระส่วนเกินเอง</td>
            <td>58001 = 150</td>
          </tr>

          <tr>
            <td>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck2">
                <label class="custom-control-label" for="customCheck2">2</label>
              </div>
            </td>
            <td>การกระตุ้นจุดฝังเข็มด้วยเครื่องกระตุ้นไฟฟ้า</td>
            <td>1</td>
            <td>50.00</td>
            <td>ผู้มีสิทธิ์ชำระส่วนเกินเอง</td>
            <td>58001 (X) = 0</td>

          </tr>

          <tr>
            <td>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck3">
                <label class="custom-control-label" for="customCheck3">3</label>
              </div>
            </td>
            <td>กรรมโกฐ</td>
            <td>1</td>
            <td>50.00</td>
            <td>ผู้มีสิทธิ์ชำระส่วนเกินเอง</td>
            <td>58001 (X) = 0</td>
          </tr>

          <tr>
            <td>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck4">
                <label class="custom-control-label" for="customCheck4">4</label>
              </div>
            </td>
            <td>การครอบกระปุก</td>
            <td>1</td>
            <td>50.00</td>
            <td>ผู้มีสิทธิ์ชำระส่วนเกินเอง</td>
            <td>58001 (X) = 0</td>
          </tr>
          <tr>
            <td>
              <div class="custom-control custom-checkbox">

                <input type="checkbox" class="custom-control-input" id="customCheck5">
                <label class="custom-control-label" for="customCheck5">5</label>
              </div>
            </td>
            <td>การฝังเข็ม</td>
            <td>1</td>
            <td>250.00</td>
            <td>ผู้มีสิทธิ์ชำระส่วนเกินเอง</td>
            <td>58001 = 150</td>
          </tr>

          <tr>
            <td>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck6">
                <label class="custom-control-label" for="customCheck6">6</label>
              </div>
            </td>
            <td>การกระตุ้นจุดฝังเข็มด้วยเครื่องกระตุ้นไฟฟ้า</td>
            <td>1</td>
            <td>50.00</td>
            <td>ผู้มีสิทธิ์ชำระส่วนเกินเอง</td>
            <td>58001 (X) = 0</td>

          </tr>

          <tr>
            <td>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck7">
                <label class="custom-control-label" for="customCheck7">7</label>
              </div>
            </td>
            <td>กรรมโกฐ</td>
            <td>1</td>
            <td>50.00</td>
            <td>ผู้มีสิทธิ์ชำระส่วนเกินเอง</td>
            <td>58001 (X) = 0</td>
          </tr>

          <tr>
            <td>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck8">
                <label class="custom-control-label" for="customCheck8">8</label>
              </div>
            </td>
            <td>การครอบกระปุก</td>
            <td>1</td>
            <td>50.00</td>
            <td>ผู้มีสิทธิ์ชำระส่วนเกินเอง</td>
            <td>58001 (X) = 0</td>
          </tr>
          <tr>
            <td>
              <div class="custom-control custom-checkbox">

                <input type="checkbox" class="custom-control-input" id="customCheck9">
                <label class="custom-control-label" for="customCheck9">9</label>
              </div>
            </td>
            <td>การฝังเข็ม</td>
            <td>1</td>
            <td>250.00</td>
            <td>ผู้มีสิทธิ์ชำระส่วนเกินเอง</td>
            <td>58001 = 150</td>
          </tr>

          <tr>
            <td>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck10">
                <label class="custom-control-label" for="customCheck10">10</label>
              </div>
            </td>
            <td>การกระตุ้นจุดฝังเข็มด้วยเครื่องกระตุ้นไฟฟ้า</td>
            <td>1</td>
            <td>50.00</td>
            <td>ผู้มีสิทธิ์ชำระส่วนเกินเอง</td>
            <td>58001 (X) = 0</td>

          </tr>

          <tr>
            <td>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck11">
                <label class="custom-control-label" for="customCheck11">11</label>
              </div>
            </td>
            <td>กรรมโกฐ</td>
            <td>1</td>
            <td>50.00</td>
            <td>ผู้มีสิทธิ์ชำระส่วนเกินเอง</td>
            <td>58001 (X) = 0</td>
          </tr>

          <tr>
            <td>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck12">
                <label class="custom-control-label" for="customCheck12">12</label>
              </div>
            </td>
            <td>การครอบกระปุก</td>
            <td>1</td>
            <td>50.00</td>
            <td>ผู้มีสิทธิ์ชำระส่วนเกินเอง</td>
            <td>58001 (X) = 0</td>
          </tr>

        </tbody>
      </table>
  </div>

</div>
